html, body {
	background-color: #F2F9F9;
	font-size: 14px;
	font-family: "Noto Sans";
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#content {
	flex: 1 0 auto;
}

.site-footer {
	flex-shrink: 0;
	margin-top: auto;
	width: 100%;
}